<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adeasy.advertise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.advertisement.BuyNow"></activity>
        <activity android:name=".activity.favaourite.divya_Edit" />
        <activity android:name=".activity.favaourite.divya_MActivity" /> <!-- Ravindu -->
        <activity android:name=".activity.getintouch.GetInTouchActivity" />
        <activity android:name=".activity.getintouch.AboutUsActivity" />
        <activity android:name=".activity.getintouch.AddNewBugActivity" />
        <activity android:name=".activity.getintouch.AddNewSuggestionActivity" />
        <activity android:name=".activity.getintouch.BugsActionsActivity" />
        <activity android:name=".activity.getintouch.BugsActivity" />
        <activity android:name=".activity.getintouch.EditBugActivity" />
        <activity android:name=".activity.getintouch.ViewBugActivity" />
        <activity android:name=".activity.athentication.register" />
        <activity android:name=".activity.athentication.login" />
        <activity android:name=".activity.advertisement.Donations" />
        <activity android:name=".activity.advertisement.Advertisement" />
        <activity android:name=".activity.advertisement.EditAdvertisement" />
        <activity android:name=".activity.advertisement.Myadds" />
        <activity
            android:name=".activity.advertisement.NewAdvertisement"
            android:parentActivityName=".activity.advertisement.MainActivity" />
        <activity android:name=".activity.advertisement.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>